<!-- CSS -->
 <link rel="stylesheet" href="assets/css/background-true.css">

<div id="waitingContainer" style="display: none;">
    <div id="welcomeBackground"></div>
    <div id="waitingContent">
        <div class="waitingSpinner"></div>
        <div id="waitingTextContainer">
            <h2><%- lang('waiting.waitingText') %></h2>
        </div>
    </div>
</div>